
des-fonds/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
des-fonds/obj/Debug/net8.0/des-fonds.AssemblyInfo.cs
des-fonds/obj/Debug/net8.0/des-fonds.AssemblyInfoInputs.cache
des-fonds/obj/Debug/net8.0/des-fonds.assets.cache
des-fonds/obj/Debug/net8.0/des-fonds.GeneratedMSBuildEditorConfig.editorconfig
